NEXTAUTH_SECRET='somerandomsecretvalue'
NEXTAUTH_URL=http://localhost:3000

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME='dltdv24vg'

AZURE_AD_B2C_CUSTOM_URL='<CUSTOM_URL>'
AZURE_AD_B2C_TENANT_ID='<TENANT_ID>'
AZURE_AD_B2C_CLIENT_ID='<CLIENT_ID>'
AZURE_AD_B2C_PRIMARY_USER_FLOW='<PRIMARY_FLOW>'
AZURE_AD_B2C_EMAIL_UPDATE_FLOW='<EMAIL_UPDATE_FLOW>'
AZURE_AD_B2C_PASSWORD_UPDATE_FLOW='<PASSWORD_UPDATE_FLOW>'
AZURE_AD_B2C_CLIENT_SECRET='<CLIENT_SECRET>'

GTM_ID='<GTM-XXXXXXXX>'

AES_KEY='<AES_KEY>'
HASH_KEY='<HASH_KEY>'

# Start Playwright

PLAYWRIGHT_BASE_URL='https://cdvnets.ractest.com.au'

PLAYWRIGHT_BLUE_MEMBER='rac_playwright_automation_1@xxofceaa.mailosaur.net'
PLAYWRIGHT_BLUE_PASSWORD='PasswordInKV'

PLAYWRIGHT_BRONZE_MEMBER='rac_playwright_automation_2@xxofceaa.mailosaur.net'
PLAYWRIGHT_BRONZE_PASSWORD='PasswordInKV'

PLAYWRIGHT_RED_MEMBER='rac_playwright_automation_3@xxofceaa.mailosaur.net'
PLAYWRIGHT_RED_PASSWORD='PasswordInKV'

PLAYWRIGHT_STAFF_MEMBER='rac_playwright_automation_4@xxofceaa.mailosaur.net'
PLAYWRIGHT_STAFF_PASSWORD='PasswordInKV'

PLAYWRIGHT_IGNITE_MEMBER='rac_playwright_automation_5@xxofceaa.mailosaur.net'
PLAYWRIGHT_IGNITE_PASSWORD='PasswordInKV'

PLAYWRIGHT_PET_INS_MEMBER='rac_playwright_automation_6@xxofceaa.mailosaur.net'
PLAYWRIGHT_PET_INS_PASSWORD='PasswordInKV'

PLAYWRIGHT_FIN_LOAN_MEMBER='rac_playwright_automation_7@xxofceaa.mailosaur.net'
PLAYWRIGHT_FIN_LOAN_PASSWORD='PasswordInKV'

PLAYWRIGHT_DEFAULT_USERNAME='rac_playwright_automation_8@xxofceaa.mailosaur.net'
PLAYWRIGHT_DEFAULT_PASSWORD='PasswordInKV'

PLAYWRIGHT_CRMID_NOTFOUND='rac_playwright_automation_9@xxofceaa.mailosaur.net'
PLAYWRIGHT_CRMID_NOTFOUND_PASSWORD='PasswordInKV'

MAILOSAUR_API_KEY='<MAILOSAUR_API_KEY>'
MAILOSAUR_SERVER_ID='<MAILOSAUR_SERVER_ID>'
MAILOSAUR_SMS_NUMBER='<MAILOSAUR_SMS_NUMBER>'

NODE_TLS_REJECT_UNAUTHORIZED='0' - Use this only for local development, it is not recommended for production. It disables the SSL certificate verification.

# End Playwright